<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jucrobile.blututhgames"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.jucrobile.blututhgames.BluTuthApplication" >
        <activity
            android:name="com.jucrobile.blututhgames.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jucrobile.blututhgames.XsAndOsActivity"
            android:label="@string/title_activity_xs_and_os"
            android:parentActivityName="com.jucrobile.blututhgames.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jucrobile.blututhgames.MainActivity" />
        </activity>
        <activity
            android:name="com.jucrobile.blututhgames.RockPaperScissorsActivity"
            android:label="@string/title_activity_rock_paper_scissors"
            android:parentActivityName="com.jucrobile.blututhgames.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jucrobile.blututhgames.MainActivity" />
        </activity>
        <activity
            android:name="com.jucrobile.blututhgames.blututh.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@style/AppTheme" />

        <service
            android:name="com.jucrobile.blututhgames.BluTuthService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
